<!DOCTYPE html>
<html>
<head>
    <title>Todo APP</title>
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
    <link rel="stylesheet" href="/public/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/public/css/variables.css" type="text/css">
</head>

<body>
    <header class="app-header">
        <h1 class="app-heading">TODO APP</h1>
        <div class="add-task">
            <input id="add-task-text" class="add-task-text" type="text" placeholder="Add Todo">
            <button id="add-task-btn" class="add-task-btn">Add
        </div>
    </header>

    <nav>
        <ul id="nav-tabs" class="nav-tabs">
            <li id="tab-all" class="tab-container tab-selected">ALL</li>
            <li id="tab-completed" class="tab-container">COMPLETED</li>
            <li id="tab-pending" class="tab-container">PENDING</li>
        </ul>
    </nav>

    <ul id="task-list" class="task-list">
    </ul>

    <script type="module" src="/public/js/todo.js"></script>
</body>
</html>
