.app-header {
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-heading {
    color: white;
    font-size: 25px;
    font-family: sans-serif;
}

.add-task {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.add-task-text {
    width: 70%;
}

.add-task-btn {
    background: lightgrey;
    width: 10%;
}

.nav-tabs {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tab-container {
    background-color: white;
    border: none;
    font-size: 14px;
    font-family: sans-serif;
    padding: 8px 16px;
    text-align: left;
    width: 100%;
}

.tab-container:hover {
    color: skyblue;
}

.tab-selected {
    box-shadow: 0 3px skyblue;
    color: skyblue;
}