.app-header {
    background-color: var(--brightblue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-heading {
    color: white;
    font-size: 25px;
    font-family: sans-serif;
}

.add-task {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.add-task-text {
    width: 70%;
}

.add-task-btn {
    background: lightgrey;
    width: 10%;
}

.nav-tabs {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tab-container {
    background-color: white;
    border: none;
    font-size: 14px;
    font-family: sans-serif;
    padding: 8px 16px;
    text-align: left;
    width: 100%;
}

.tab-container:hover {
    color: var(--brightblue);
}

.tab-selected {
    box-shadow: 0 3px var(--brightblue);
    color: var(--brightblue);
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-list li:nth-child(2n) {
    background-color: lightgrey;
}

.tick-mark {
    margin-right: 1%;
    height: 13px;
    width: 13px;
}

.task-list-item {
    width: 100%;
}

.task-container {
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.task-container-text {
    width: 95%;
}

.delete-task-btn {
    height: 13px;
    width: 13px;
}